{
    "anaplanTenantName": "Your Tenant Name",
    "authenticationMode": "OAuth",
    "oauthClientId": "",
    "workspaceModelCombos": [
        {
            "workspaceId": "8a8b8c8d8e8f",
            "modelId": "AAAABBBBCCCCDDDD"
        }
    ],
    "targetAnaplanModel": {
        "workspaceId": "8a8b8c8d8e8f",
        "modelId": "AAAABBBBCCCCDDDD",
        "objects": {
            "auditFileId": "113000000000",
            "auditImportId": "112000000000"
        }
    },
    "modelHistory": {
        "enabled": false
    }
}
