{
    "auditEnabled": true,
    "authenticationMode": "OAuth",
    "anaplanTenantName": "Your Tenant Name",
    "database": "anaplan_audit.db",
    "lastRun": 0,
    "auditBatchSize": 1000,
    "oauthClientId": "",
    "rotatableToken": true,
    "certPublicPath": "",
    "certPrivatePath": "",
    "workspaceModelCombos": [
        {
            "workspaceId": "8a8b8c8d8e8f",
            "modelId": "AAAABBBBCCCCDDDD"
        }
    ],
    "targetAnaplanModel": {
        "workspaceId": "8a8b8c8d8e8f",
        "modelId": "AAAABBBBCCCCDDDD",
        "objects": {
            "auditFileId": "113000000000",
            "auditImportId": "112000000000"
        }
    },
    "modelHistory": {
        "enabled": false
    }
}
